* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dennis Sans', sans-serif;
}

body {
    font-family: 'Dennis Sans', sans-serif;
    color: #1C1D20;
    line-height: 1.6;
    font-weight: 450;
    font-style: normal;
    /* font-size: 16px; */
    font-size: clamp(16px, 1.2vw, 19px);
    /* background-color: black; */
}
/* header */
.about-header {
    background: white;
}
.default-header {
    padding-top: calc(clamp(5em, 21vh, 12em) * 1.33);
    padding-bottom: calc(clamp(5em, 21vh, 12em) * .66);
}
.section {
    display: block;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
    position: relative;
}
/* navbar */
.navbar {
    padding: calc(clamp(1.5em, 4vw, 2.5em) / 2) calc(clamp(1.5em, 4vw, 2.5em) / 2);
    transition: background-color 1.5s;
}

.nav-link {
    color: black;
    position: relative;
    transition: all 0s;
}

.nav-link:hover {
    color: rgb(1, 1, 1);
}

.nav-link::after {
    content: "";
    background-color: black;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
}

.nav-link:hover::after {
    opacity: 1;

}

.navbar-toggler-icon {
    background-image: none;
    background-repeat: no-repeat;
    display: inline;
    color: white;
}

.navbar-toggler {
    border: none;
    position: relative;
}

.navbar-toggler-icon::before {
    content: "";
    background-color: rgb(0, 0, 0);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 1px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

.offcanvas-header {
    align-self: flex-end;
    border-radius: 50%;
    background-color: blue;

}

.btn-close {
    color: white;
    transition: all 0s;
    opacity: 1;
}

.btn-close:hover {
    opacity: 1;
}
/* container.medium */
.container.medium {
    padding-left: calc(clamp(2.5em, 8vw, 8em) * 2);
    /* padding-right: calc(clamp(2.5em, 8vw, 8em) * 2); */
}
.once-in {
    will-change: transform;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, p.big:last-child, p.small:last-child, a:last-child, strong:last-child {
    margin-bottom: 0;
}
h1 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    /* font-size: clamp(3.25em, 7vw, 8em); */
    line-height: 1.065;
    /* margin-bottom: 1em; */
    font-size: calc(clamp(3.25em, 7vw, 8em) * .875);
}
/* .default-header h1 span {
    display: block;
} */
h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 450;
    letter-spacing: normal;
}

/* --------------------------------------------------------------------------------------- */
/* line-globe */
.section.no-padding {
    padding-top: unset;
    padding-bottom: unset;
}
.line-globe {
    overflow: visible;
    z-index: 5;
}
.stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(28, 29, 32, 0.175);
}
.digital-ball {
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    /* background: var(--color-dark); */
    border-radius: 50%;
    top: 0;
    /* right: 110px; */
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    background:blue;
}
.digital-ball .overlay {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: digitalball 6s ease-in-out infinite;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.globe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    will-change: transform;
}
.globe :nth-child(1) {
    animation-delay: -1.8s;
}
.globe-wrap {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px .125em white;
}
@keyframes globe {
    0% {
        transform: translate(-50%, -50%) rotate(15deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(15deg);
    }
}
.globe :nth-child(1) {
    animation-delay: -1.8s;
}

.globe .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset .1em 0px 0px .08em white;
    animation: circle1 2.7s linear infinite;
    font-size: .75em;
}

.globe :nth-child(2) {
    animation-delay: -.9s;
}

@keyframes circle1 {
    0% {
        border-radius: 50%;
        box-shadow: inset .1em 0px 0px .08em white;
        width: 100%;
    }

    49% {
        border-radius: 50%;
        box-shadow: inset .1em 0px 0px .08em white;
        background: transparent;
    }

    50% {
        border-radius: 0%;
        width: .175em;
        background: white;
    }

    51% {
        border-radius: 50%;
        box-shadow: inset -.1em 0px 0px .08em white;
        background: transparent;
    }
    100% {
        border-radius: 50%;
        box-shadow: inset -.1em 0px 0px .08em white;
        width: 100%;
    }
}

.globe .circle-hor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 55%;
    box-shadow: inset 0px 0px 0px .15em white;
    font-size: .75em;

}

.globe .circle-hor-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
    height: .15em;
    background: white;
    font-size: .75em;
}

/* about-image */
.about-image {
    padding-top: calc(clamp(5em, 21vh, 12em) * .75);
    padding-bottom: 0;
    background: white;
}
.about-image .bottom-lightgray {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: var(--section-padding); */
    left: 0;
    background: #E9EAEB;
    height: 10vw;
    display: none;
}
.about-image .flex-col:nth-child(1) {
    /* width: 35%; */
    padding-left: clamp(2.5em, 8vw, 8em);
    padding-right: calc(clamp(2.5em, 8vw, 8em) / 2);
}
.about-image .flex-col:nth-child(1) .arrow {
    position: absolute;
    top: -34px;
    left: 75px;
    /* transform: rotate(-45deg); */
    will-change: transform;
}
.arrow {
    /* position: relative; */
    width: clamp(.9em, 1.1vw, 1.1em);
}
.arrow svg {
    display: block;
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    max-width: none;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
}
.about-image .flex-col:nth-child(1) .arrow svg g {
    stroke: black;
}
.about-image .flex-col:nth-child(1) p {
    margin-top: -.33em;
    display: block;
    will-change: transform;
}
p {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    /* color: var(--text); */
    font-size: 1em;
    line-height: 1.66;
    margin-bottom: 1em;
}
.single-about-image {
    width: 100%;
    display: block;
    /* background: #E9EAEB; */
    overflow: hidden;
    position: relative;
}
.single-about-image::before {
    content: "";
    display: block;
    /* padding-top: 135%; */
}
.single-about-image .overlay:nth-child(1) {
    background: url("../img/DSC07312-2.jpg") center center no-repeat;
    background-size: cover;
    top: -20vh;
    height: 105%;
}
.single-about-image .overlay:nth-child(2) {
    background: linear-gradient(to bottom,hsla(220, 13%, 5%, .075) 0%, hsla(220, 13%, 5%, 0) 50%);
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* .about-image .flex-col:nth-child(2) {
    width: 65%;
} */

/* about-services */
.about-services {
    /* padding-top: calc(clamp(5em, 21vh, 12em) * .75); */
    background: #E9EAEB;
    margin-top: -1px;
}
.container {
    margin: 0 auto;
    padding-left: clamp(2.5em, 8vw, 8em);
    padding-right: clamp(2.5em, 8vw, 8em);
    max-width: 100em;
}
.about-services .row:nth-child(1) {
    padding-bottom: calc(clamp(5em, 21vh, 12em) / 2);
}
.animate-dot {
    opacity: 0;
    animation: animateDot1 2s linear infinite;
}
@keyframes animateDot1{
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}
.animate-dot:nth-child(2) {
    animation: animateDot2 2s linear infinite;
}
@keyframes animateDot2{
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}
.animate-dot:nth-child(3) {
    animation: animateDot3 2s linear infinite;
}
@keyframes animateDot3{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}
.about-services .row:nth-child(2) {
    width: calc(100% + calc(clamp(2.5em, 8vw, 8em) / 1.5));
    margin-left: calc(clamp(2.5em, 8vw, 8em) / -1.5);
}
.about-services .row:nth-child(2) .flex-col {
    width: 33.333%;
    padding-left: calc(clamp(2.5em, 8vw, 8em) / 1.5);
}
.about-services .row:nth-child(2) .flex-col h5:nth-child(1) {
    padding-bottom: 2em;
}
.about-services .row:nth-child(2) .flex-col h5 {
    margin: 0;
    font-size: .8em;
}
.about-services .row:nth-child(2) .flex-col .stripe {
    margin-bottom: 2em;
}
.about-services .row:nth-child(2) .flex-col h4 {
    margin: 0;
}
h4 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: clamp(1.55em, 2.3vw, 2.5em);
    line-height: 1.45;
    /* margin-bottom: 1em; */
}
.about-services .row:nth-child(2) .flex-col p:nth-child(4) {
    padding-top: 2em;
}
p {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    color: var(--text);
    font-size: 1em;
    line-height: 1.66;
    /* margin-bottom: 1em; */
}
.about-services .row:nth-child(2) .flex-col svg {
    width: 1em;
    padding: 0;
    margin-right: .25em;
    transform: translate(0, -.05em);
}
svg:not(:root) {
    overflow: hidden;
}
h2 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: calc(clamp(3.25em, 5vw, 4.5em) * .75);
    line-height: 1.065;
    /* margin-bottom: .66em; */
}
.about-services .row:nth-child(2) .flex-col svg path {
    fill: #1C1D20;
}

/* about-awwwards */
.section {
    display: block;
    padding-top: clamp(5em, 21vh, 12em);
    /* padding-bottom: clamp(5em, 21vh, 12em); */
    position: relative;
}
.about-awwwards .row {
    align-items: center;
}
.about-awwwards .flex-col:nth-child(1) {
    width: 50%;
    padding-right: calc(clamp(2.5em, 8vw, 8em) / 2);
}
.about-awwwards .single-image {
    width: 100%;
    display: block;
    background: #E9EAEB;
    overflow: hidden;
    position: relative;
}
.about-awwwards .single-image::before {
    content: "";
    display: block;
    /* padding-top: 135%; */
    padding-top: 125%;
}
.about-awwwards .single-image  .overlay:nth-child(1) {
    /* background: url("../img/DSC07292.jpg") center center no-repeat;
    background-size: cover;
    height: 130%;
    top: -25%;
    width: 105%;
    left: -5%; */
    background: url("../img/DSC07079.jpg") center center no-repeat;
    background-size: cover;
    top: -3%;
    height: 106%;
    width: 140%;
    left: -40%;
}
.about-awwwards .single-image  .overlay:nth-child(2) {
    background: linear-gradient(to bottom,hsla(220, 13%, 5%, .075) 0%, hsla(220, 13%, 5%, 0) 50%);
}
.about-awwwards .flex-col:nth-child(2) {
    width: 50%;
    padding-left: calc(clamp(2.5em, 8vw, 8em) / 2);
    padding-bottom: 3em;
}
.about-awwwards .awwwards-badge {
    width: 6em;
    position: relative;
    margin-bottom: calc(clamp(5em, 21vh, 12em) / 4);
    border-radius: 50%;
}
.about-awwwards .awwwards-badge::before {
    display: block;
    content: "";
    padding-top: 100%;
}
.about-awwwards .awwwards-badge svg:nth-child(1) {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}
.about-awwwards .awwwards-badge svg:nth-child(1) g {
    fill:#999D9E;
}
.about-awwwards .awwwards-badge svg:nth-child(2) {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-awwwards .awwwards-badge svg:nth-child(2) path {
    fill: #999D9E;
}
.about-awwwards  h2 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: calc(clamp(3.25em, 5vw, 4.5em) * .75);
    line-height: 1.065;
    margin-bottom: .66em;
}
.about-awwwards   p {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    color: var(--text);
    font-size: 1em;
    line-height: 1.66;
    margin-bottom: 1em;
}

/* footer-rounded-div */
.footer-rounded-div {
    width: 100%;
    position: relative;
    height: 0;
    display: block;
    z-index: 2;
}
.footer-rounded-div .rounded-div-wrap {
    transform: translateY(-1px);
    will-change: height;
}
.rounded-div-wrap {
    width: 100%;
    top: 0;
    position: relative;
    /* height: 10vh; */
    overflow: hidden;
}
.rounded-div {
    width: 150%;
    content: "";
    display: block;
    position: absolute;
    background: white;
    height: 750%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -86.666%);
    z-index: 1;
}
/* footer-wrap */
.footer-wrap {
    /* display: block; */
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #141517;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 5px 0px 5px #1C1D20;
}
.footer-wrap.theme-dark .footer {
    background: #1C1D20;
}
.footer {
    padding-bottom: 0;
    width: 100%;
    will-change: transform;
}
.footer .container.medium {
    display: flex;
    flex-direction: column;
}
.footer .container.medium .row:nth-child(1) {
    padding-bottom: calc(clamp(5em, 21vh, 12em) / 2);
}
.footer .arrow {
    position: absolute;
    right: 0;
    bottom: calc(clamp(1.5em, 4vw, 2.5em) * 1.5);
    will-change: transform;
}
.arrow {
    /* position: relative; */
    width: clamp(.9em, 1.1vw, 1.1em);
}
.footer .arrow svg {
    transform: rotate(90deg);
}
.arrow svg {
    display: block;
    width: 100%;
}
.footer h2 {
    font-size: calc(clamp(3.25em, 7vw, 8em) * .875);
}
.footer h2 span {
    display: block;
}
.footer .profile-picture {
    margin-right: .125em;
    height: .85em;
    width: .85em;
    transform: translateY(.09em);
}
.profile-picture {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    background: url("../img/DSC07033-Cut-Color-1080.jpg") center center no-repeat;
    background-size: cover;
    /* width: clamp(4.5em, 6.5vw, 8em);
    height: clamp(4.5em, 6.5vw, 8em); */
}
.footer .container.medium .row:nth-child(2) {
    padding-bottom: calc(clamp(5em, 21vh, 12em) * .475);
}
.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}
.theme-dark .stripe {
    background-color: rgba(255, 255, 255, 0.2);
}
.stripe {
    display: block;
    width: 100%;
    height: 1px;
    /* background-color: var(--color-border); */
}
.footer .container.medium .row:nth-child(2) .btn-fixed {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.footer .container.medium .row:nth-child(2) .btn-fixed .btn {
    will-change: transform;
}
.btn-round {
    margin: 0;
    z-index: 20;
}
.theme-dark .btn-round .btn-click {
    background: blue;
}
.btn-round .btn-click {
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    border-radius: 50%;
    border: 0;
    background: black;
}
.btn-click {
    cursor: pointer;
    /* border: 0; */
    color: var(--primary-dark);
    /* background: transparent;
    border-radius: 2.125em; */
    min-width: 1em;
    /* height: 4.25em; */
    padding: 0;
    font-size: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    will-change: transform;
    outline: 0;
    /* transform: translateZ(0) rotate(0.001deg); */
}
.theme-dark .btn-round .btn-fill {
    background: #334BD3;
}
.btn-fill {
    /* background: var(--color-blue); */
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    /* transform: translate3d(0,-76%,0); */
    will-change: transform;
    transition: background-color ease-in-out .25s;
}
.btn-round .btn-text {
    padding: 0 1em;
    text-align: center;
}
.btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* padding: 0 2.5em; */
    z-index: 2;
    color: black;
    position: relative;
    /* transform: rotate(0.001deg); */
    pointer-events: none;
    will-change: transform, color;
}
.btn-round .btn-text-inner {
    color: #fff;
}
.footer .container.medium .row:nth-child(3) .flex-col {
    display: flex;
    flex-direction: row;
}
.footer .container.medium .row:nth-child(3) .flex-col .btn {
    display: inline-flex;
    margin-right: 0.5em;
    margin-bottom: 0;
}
.theme-dark .btn-normal .btn-text .btn-text-inner {
    color:white !important;
}
.footer .container.medium .row:nth-child(3) .flex-col .btn {
    display: inline-flex;
    margin-right: 0.5em;
    margin-bottom: 0;
}
.container.no-padding {
    padding-left: unset;
    padding-right: unset;
}
.bottom-footer {
    padding: calc(clamp(5em, 21vh, 12em) / 1.3) calc(clamp(1.5em, 4vw, 2.5em) / 1.33) calc(clamp(1.5em, 4vw, 2.5em) / 1.75) calc(clamp(1.5em, 4vw, 2.5em) / 1);
    flex-direction: row;
    justify-content: space-between;
}
.bottom-footer .flex-col {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.bottom-footer .credits {
    padding-right: clamp(1.5em, 4vw, 2.5em);
}
.bottom-footer h5 {
    margin-bottom: 1.5em;
}
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark p {
    color:white;
}
.bottom-footer p {
    font-size: .85em;
}
.bottom-footer #timeSpan {
    text-transform: uppercase;
}
.bottom-footer .flex-col {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.socials h5 {
    padding-left: calc(clamp(1.5em, 4vw, 2.5em) * .5);
    margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 450;
    letter-spacing: normal;
}
ul{
    list-style: none;
}
.socials li {
    display: inline-flex;
    font-size: .85em;
}
.btn-link.btn-link-external .btn-click {
    border: 0;
    height: 2.25em;
    border-radius: 0;
    overflow: visible;
    margin: 0 calc(clamp(1.5em, 4vw, 2.5em) / 3);
}
.btn-link.btn-link-external .btn-text {
    padding: 0;
}
.theme-dark .btn-link .btn-text {
    color: white;
}
.theme-dark .btn-link.btn-link-external .btn-click::after {
    background: white;
}
.btn-link.btn-link-external .btn-click::after {
    bottom: 0;
    width: 100%;
    height: 1px;
    border-radius: 0;
   /* background: var(--color-dark);*/
     transform: translate(-50%, -50%) scale(0,1) rotate(0.001deg); 
}
.btn-link .btn-click::after {
    content: "";
    position: absolute;
    /* bottom: -.5em; */
    left: 50%;
    display: block;
    /* width: calc(clamp(16px, 1.2vw, 19px) / 2.75);
    height: calc(clamp(16px, 1.2vw, 19px) / 2.75);
    border-radius: 50%;
    background: var(--color-dark);
    transform: translate(-50%, -50%) scale(0) rotate(0.001deg); */
    transition: all .3s cubic-bezier(.7, 0, .3, 1);
    will-change: transform;
}
.bottom-footer .stripe {
    display: none;
}
h5 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: .6em;
    line-height: 1.065;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    opacity: .5;
}
.footer-wrap.theme-dark .overlay-gradient {
    pointer-events: none;
    height: calc(var(--section-padding) * .75);
    background: linear-gradient(to bottom,hsla(225, 7%, 12%) 0%, hsla(225, 7%, 12%, 0.987) 8.1%, hsla(225, 7%, 12%, 0.951) 15.5%, hsla(225, 7%, 12%, 0.896) 22.5%, hsla(225, 7%, 12%, 0.825) 29%, hsla(225, 7%, 12%, 0.741) 35.3%,  hsla(225, 7%, 12%, 0.648) 41.2%,  hsla(225, 7%, 12%, 0.55) 47.1%, hsla(225, 7%, 12%, 0.45) 52.9%, hsla(225, 7%, 12%, 0.352) 58.8%, hsla(225, 7%, 12%, 0.259) 64.7%, hsla(225, 7%, 12%, 0.175) 71%, hsla(225, 7%, 12%, 0.104) 77.5%, hsla(225, 7%, 12%, 0.049) 84.5%, hsla(225, 7%, 12%, 0.013) 91.9%, hsla(225, 7%, 12%, 0) 100%);
    opacity: .75;
}
a{
    color: #141517;
    text-decoration: none;
}
.footer-wrap .btn-normal{
    border: #999D9E 1px solid;
    transition: all 0.5s;
}
.footer-wrap .btn-normal:hover{
    background-color: #334BD3;
    border: none;
}
.socials .btn{
    color: transparent;
}



/* media */
@media screen and (max-width:1600px) and (min-width:721px){

    .default-header h1 span {
        display: block;
    }
    .footer .container.medium .row:nth-child(3) .flex-col {
        flex-direction: row;
    }
    .footer .container.medium .row:nth-child(3) .flex-col .btn {
        margin-top: 0px;
    }
    .footer .container.medium .row:nth-child(2) .btn-fixed {
        right: 0px;
 
    }
    .container.medium {
        padding-left: calc(clamp(2.5em, 8vw, 8em) * 2);
        padding-right: calc(clamp(2.5em, 8vw, 8em) * 2);
    }
    .digital-ball{
        right:110px ;
    }
    .about-image .flex-col:nth-child(2) {
        padding-top: 0px;
        width: 65%;
    }
    .about-image .flex-col:nth-child(1) {
        width: 35%;
    }
    .single-about-image::before {
        padding-top: 135%;
    }
    .about-services{
        padding-top: calc(clamp(5em, 21vh, 12em) * .75);
    }
  }
  @media screen and (max-width:720px) and (min-width:500px){
    .default-header h1 span {
        display: unset;
    }
    
    .footer .container.medium .row:nth-child(3) .flex-col {
        flex-direction: column;
    }
    .footer .container.medium .row:nth-child(3) .flex-col .btn {
        margin-top: 20px;
    }
    .footer .container.medium .row:nth-child(2) .btn-fixed {
        right: -65px;
 
    }
    .container.medium{
        padding-left: clamp(1.25em, 4vw, 2.5em);
        padding-right: clamp(1.25em, 4vw, 2.5em);
    }
    .digital-ball{
        right:-16px;
    }
    .about-image .flex-col:nth-child(2) {
        padding-top: calc(12vh / 1.15);
        width: 100%;
    }
    .about-image .flex-col:nth-child(1) {
        width: 100%;
    }
    .single-about-image::before {
        padding-top: 125%;
    }
    .about-services {
        padding-top: calc(max(2.5em, 12vh) * 1);
    }
    .about-services .row:nth-child(2) .flex-col h5:nth-child(1) {
        display: none;
    }
    .about-services .row:nth-child(2) .flex-col .stripe {
        margin-bottom: calc(12vh * .5);
    }
    .about-services .row:nth-child(2) .flex-col p:nth-child(4) {
        padding-top: calc(clamp(1.5em, 4vw, 2.5em) * .5);
    }
    .about-services .row:nth-child(2) .flex-col {
        width: 100%;
        padding-left: 0;
        padding-bottom: calc(12vh * .5);
    }
    .about-awwwards {
        padding-top: calc(max(2.5em, 12vh) / 1.5);
    }
    .about-awwwards .flex-col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }
    .about-awwwards .flex-col:nth-child(2) {
        width: 100%;
        padding-left: 0;
        padding-bottom: calc(max(2.5em, 12vh) / 2);
        order: 1;
    }
    .about-awwwards .single-image::before {
        padding-top: 125%;
    }
    .about-awwwards .single-image  .overlay:nth-child(1) {
        background: url("../img/DSC07079.jpg") center center no-repeat;
        background-size: cover;
        top: -8%;
        height: 110%;
        width: 150%;
        left: -50%;
    }
  }
  @media screen and (max-width:499px) and (min-width:320px){
    .default-header h1 span {
        display: unset;
    }
    .footer .container.medium .row:nth-child(3) .flex-col {
        flex-direction: column;
    }
    .footer .container.medium .row:nth-child(3) .flex-col .btn {
        margin-top: 20px;
    }
    .footer .container.medium .row:nth-child(2) .btn-fixed {
        right: -65px;
 
    }
    .container.medium {
        padding-left: clamp(1.25em, 4vw, 2.5em);
        padding-right: clamp(1.25em, 4vw, 2.5em);
    }
    .digital-ball{
        right:-16px;
    }
    .about-image .flex-col:nth-child(2) {
        padding-top: calc(max(2.5em, 12vh) * .5);
        width: 100%;
    }
    .about-image .flex-col:nth-child(1) {
        width: 100%;
    }
    .single-about-image::before {
        padding-top: 140%;
    }
    .about-services {
        padding-top: calc(max(2.5em, 12vh) * 1);
    }
    .about-services .row:nth-child(2) .flex-col h5:nth-child(1) {
        display: none;
    }
    .about-services .row:nth-child(2) .flex-col .stripe {
        margin-bottom: calc(12vh * .5);
    }
    .about-services .row:nth-child(2) .flex-col p:nth-child(4) {
        padding-top: calc(clamp(1.5em, 4vw, 2.5em) * .5);
    }
    .about-services .row:nth-child(2) .flex-col {
        width: 100%;
        padding-left: 0;
        padding-bottom: calc(12vh * .5);
    }
    .about-awwwards {
        padding-top: calc(max(2.5em, 12vh) / 1.5);
    }
    .about-awwwards .flex-col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }
    .about-awwwards .flex-col:nth-child(2) {
        width: 100%;
        padding-left: 0;
        padding-bottom: calc(max(2.5em, 12vh) / 2);
        order: 1;
    }
    .about-awwwards .single-image::before {
        padding-top: 125%;
    }
    .about-awwwards .single-image  .overlay:nth-child(1) {
        background: url("../img/DSC07079.jpg") center center no-repeat;
        background-size: cover;
        top: -8%;
        height: 110%;
        width: 150%;
        left: -50%;
    }
  } 

