* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dennis Sans', sans-serif;
}

body {

    font-family: 'Dennis Sans', sans-serif;
    color: #1C1D20;
    line-height: 1.6;
    font-weight: 450;
    font-style: normal;
    font-size: 16px;
    font-size: clamp(16px, 1.2vw, 19px);

}

/* header */
.default-header.theme-dark {
    background: #1C1D20;
}
.contact-header {
    padding-bottom: calc(clamp(5em, 21vh, 12em)/ 3);
}
.default-header {
    padding-top: calc(clamp(5em, 21vh, 12em) * 1.33);
    /* padding-bottom: calc(var(--section-padding) * .66); */
}
.section {
    display: block;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
    position: relative;
}

/* navbar */
.navbar {
    transition: background-color 1.5s;
    padding:calc(clamp(1.5em, 4vw, 2.5em) / 2) calc(clamp(1.5em, 4vw, 2.5em) / 2);
}

.nav-link {
    color: white;
    position: relative;
    transition: all 0s;
}

.nav-link:hover {
    color: white;
}

.nav-link::after {
    content: "";
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
}

.nav-link:hover::after {
    opacity: 1;

}

.navbar-toggler-icon {
    background-image: none;
    background-repeat: no-repeat;
    display: inline;
    color: white;
}

.navbar-toggler {
    border: none;
    position: relative;
}

.navbar-toggler-icon::before {
    content: "";
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 1px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

.offcanvas-header {
    align-self: flex-end;
    border-radius: 50%;
    background-color: blue;

}

.btn-close {
    color: white;
    transition: all 0s;
    opacity: 1;
}

.btn-close:hover {
    opacity: 1;
}
/* container.medium */
.container.medium {
    padding-left: calc(clamp(2.5em, 8vw, 8em) * 2);
    padding-right: calc(clamp(2.5em, 8vw, 8em) * 2);
}
.container {
    margin: 0 auto;
    /* padding-left: var(--container-padding);
    padding-right: var(--container-padding); */
    max-width: 100em;
}
.once-in {
    will-change: transform;
}
.contact-header .row .flex-col:nth-child(1) {
    width: 73%;
    padding-right: calc(clamp(2.5em, 8vw, 8em)/ 2);
}
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark p {
    color:white;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, p.big:last-child, p.small:last-child, a:last-child, strong:last-child {
    margin-bottom: 0;
}
h1 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    /* font-size: clamp(3.25em, 7vw, 8em); */
    line-height: 1.065;
    /* margin-bottom: 1em; */
    font-size: calc(clamp(3.25em, 7vw, 8em) * .875);
}
.contact-header .row .flex-col:nth-child(1) h1 span {
    display: block;
}
h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 450;
    letter-spacing: normal;
}
.contact-header .row .flex-col:nth-child(1) .profile-picture {
    margin-right: .125em;
    height: .85em;
    width: .85em;
    transform: translateY(.09em);
    display: none;
}
.profile-picture {
    position: relative;
    /* display: inline-flex; */
    border-radius: 50%;
    background: url("../img/DSC07033-Cut-Color-1080.jpg") center center no-repeat;
    background-size: cover;
    /* width: clamp(4.5em, 6.5vw, 8em);
    height: clamp(4.5em, 6.5vw, 8em); */
}
.contact-header .row:nth-child(1) .flex-col:nth-child(2) {
    padding-top: calc(clamp(3.25em, 7vw, 8em) * .875 * 1.175);
}
.contact-header .row .flex-col:nth-child(2) {
    width: 27%;
    padding-left: calc(clamp(2.5em, 8vw, 8em) / 2);
}
.profile-picture {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    background: url("../img/DSC07033-Cut-Color-1080.jpg") center center no-repeat;
    background-size: cover;
    width: clamp(4.5em, 6.5vw, 8em);
    height: clamp(4.5em, 6.5vw, 8em);
}
.contact-header .row:nth-child(1) .flex-col:nth-child(2) .arrow {
    position: absolute;
    bottom: calc(clamp(5em, 21vh, 12em) * -.5);
    transform: translateY(-50%);
}
.arrow {
    /* position: relative; */
    width: clamp(.9em, 1.1vw, 1.1em);
}
.arrow svg {
    display: block;
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    max-width: none;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
}
.contact-header .row:nth-child(2) {
    padding-top: clamp(5em, 21vh, 12em);
}
.contact-header .row .flex-col:nth-child(1) {
    width: 73%;
    padding-right: calc(clamp(2.5em, 8vw, 8em) / 2);
}
.contact-header .form {
    background: #1C1D20;
}
.form {
    width: 100%;
    display: block;
}
 .website-field {
    position: absolute;
    left: -9999px;
}
.form .label {
    width: 100%;
    display: block;
    margin-bottom: 0;
    color: white;
    font-weight: 450;
    padding-top: 1.66em;
    transition: all .2s ease-in-out;
}
.form .field {
    /* appearance: none; */
    box-shadow: none;
    width: 100%;
    padding: 1em 0 2em 0;
    border: 0;
    /* background: transparent; */
    border-radius: 0;
    font-weight: 450;
    font-size: 1em;
    color: white;
    display: block;
    margin-top: -.33em;
    background: transparent !important;
}
input {
     line-height: normal; 
}
.form .field::before {
    position: absolute;
    left: 0;
    width: .25em;
    height: .25em;
    content: "";
    top: 0;
    background: white;
    border-radius: 50%;
}
.form-col:nth-child(2) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.form-col {
    display: block;
    width: 100%;
    font-size: 1.33em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 2.75em;
    position: relative;
}
.form .form-col h5 {
    position: absolute;
    left: 0;
    top: 3.4em;
    opacity: .33;
}
h5 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: .6em;
    line-height: 1.065;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    /* opacity: .5; */
}
.btn-contact-send {
    float: right;
    transform: translate(-20%, -60%);
    position: relative;
    z-index: 5;
}
.btn:last-child {
    margin-bottom: 0;
}
.btn-round {
    margin: 0;
    z-index: 20;
}
.btn {
    /* margin-bottom: calc(var(--gap-padding) / 2); */
    position: relative;
    /* z-index: 5; */
    border: 0;
    outline: 0;
}
.theme-dark .btn-round .btn-click {
    background: blue;
}
.btn-round .btn-click {
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    border-radius: 50%;
    border: 0;
    /* background: var(--color-dark); */
}
.btn-click {
    cursor: pointer;
    /* border: 0; */
    /* color: var(--primary-dark); */
    /* background: transparent;
    border-radius: 2.125em; */
    min-width: 1em;
    /* height: 4.25em; */
    padding: 0;
    font-size: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    will-change: transform;
    outline: 0;
    /* transform: translateZ(0) rotate(0.001deg); */
}
.theme-dark .btn-round .btn-fill {
    background: #334BD3;
}
.btn-fill {
    /* background: var(--color-blue); */
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    /* transform: translate3d(0,-76%,0); */
    will-change: transform;
    transition: background-color ease-in-out .25s;

}
.btn-contact-send .btn-text {
    pointer-events: all;
}
.btn-round .btn-text {
    padding: 0 1em;
    text-align: center;
}
.btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* padding: 0 2.5em; */
    z-index: 2;
    color: var(--color-dark);
    position: relative;
    /* transform: rotate(0.001deg);
    pointer-events: none; */
    will-change: transform, color;
}
.form input {
    border: 0;
    
    box-shadow: none;
}
.btn input {
    cursor: pointer;
}
.form-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    /* border: 0; */
    outline: 0;
    color:white;
    z-index: 10;
}
.contact-header .row .flex-col:nth-child(2) {
    width: 27%;
    padding-left: calc(clamp(2.5em, 8vw, 8em) / 2);
}
h5 {
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: .6em;
    line-height: 1.065;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    opacity: .5;
}
.contact-header .row:nth-child(2) .links-wrap {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2.5em;
}
.links-wrap {
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    transition: all 0s;
}
a:hover{
    
    color: white;
}
.btn-link{
    --bs-btn-color: transparent;
    --bs-btn-hover-color:transparent ;
    
}

/* footer */
.footer-contact {
    background: #1C1D20;
    margin-top: -1px;
    padding-top: 0;
    box-shadow: 0px 5px 0px 5px #1C1D20;
}
.footer {
    padding-bottom: 0;
    width: 100%;
    will-change: transform;
}
.container.no-padding {
    padding-left: unset;
    padding-right: unset;
}
.footer-contact .bottom-footer {
    padding-top: 0;
}
.bottom-footer {
    padding: calc(clamp(5em, 21vh, 12em) / 1.3) calc(clamp(1.5em, 4vw, 2.5em) / 1.33) calc(clamp(1.5em, 4vw, 2.5em) / 1.75) calc(clamp(1.5em, 4vw, 2.5em) / 1);
    flex-direction: row;
    justify-content: space-between;
}
.bottom-footer .flex-col {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.bottom-footer .credits {
    padding-right: clamp(1.5em, 4vw, 2.5em);
}
.bottom-footer h5 {
    margin-bottom: 1.5em;
}
.bottom-footer p {
    font-size: .85em;
}
.bottom-footer #timeSpan {
    text-transform: uppercase;
}
.bottom-footer .flex-col {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.socials h5 {
    padding-left: calc(clamp(1.5em, 4vw, 2.5em) * .5);
    margin-bottom: 1em;
}
.socials li {
    display: inline-flex;
    font-size: .85em;
}
.btn-link {
    margin: 0;
}
.btn {
    /* margin-bottom: calc(var(--gap-padding) / 2); */
    position: relative;
    z-index: 5;
    border: 0;
    outline: 0;
}
li{
    list-style: none;
}
.btn-link.btn-link-external .btn-click {
    border: 0;
    height: 2.25em;
    border-radius: 0;
    overflow: visible;
    margin: 0 calc(clamp(1.5em, 4vw, 2.5em) / 3);
}
.btn-link.btn-link-external .btn-text {
    padding: 0;
}
.theme-dark .btn-link .btn-text {
    color: white;
}
.btn-link .btn-text {
    /* padding: 0 calc(var(--gap-padding) / 2); */
    position: relative;
}
.theme-dark .btn-link.btn-link-external .btn-click::after {
    background: white;
}
.btn-link.btn-link-external .btn-click::after {
    bottom: 0;
    width: 100%;
    height: 1px;
    border-radius: 0;
    /* background: var(--color-dark); */
    transform: translate(-50%, -50%) scale(0,1) rotate(0.001deg);
}
.btn-link .btn-click::after {
    content: "";
    position: absolute;
    /* bottom: -.5em; */
    left: 50%;
    display: block;
    /* width: calc(clamp(16px, 1.2vw, 19px) / 2.75);
    height: calc(clamp(16px, 1.2vw, 19px) / 2.75);
    border-radius: 50%;
    background: var(--color-dark);
    transform: translate(-50%, -50%) scale(0) rotate(0.001deg); */
    transition: all .3s cubic-bezier(.7, 0, .3, 1);
    will-change: transform;
}
.bottom-footer .stripe {
    display: none;
}
.theme-dark .stripe {
    background-color: rgba(255, 255, 255, 0.2);
}
.stripe {
    /* display: block; */
    width: 100%;
    height: 1px;
    /* background-color: var(--color-border); */
}
.form .field:focus-visible{
    outline:none
}

/* media */
@media screen and (max-width:1600px) and (min-width:721px){

    .footer .container.medium .row:nth-child(3) .flex-col {
        flex-direction: row;
    }
    .footer .container.medium .row:nth-child(3) .flex-col .btn {
        margin-top: 0px;
    }
    .footer .container.medium .row:nth-child(2) .btn-fixed {
        right: 0px;
 
    }
    .container.medium {
        padding-left: calc(clamp(2.5em, 8vw, 8em) * 2);
        padding-right: calc(clamp(2.5em, 8vw, 8em) * 2);
    }
    
  }
  @media screen and (max-width:720px) and (min-width:500px){

    
    .footer .container.medium .row:nth-child(3) .flex-col {
        flex-direction: column;
    }
    .footer .container.medium .row:nth-child(3) .flex-col .btn {
        margin-top: 20px;
    }
    .footer .container.medium .row:nth-child(2) .btn-fixed {
        right: -65px;
 
    }
    .container.medium{
        padding-left: clamp(1.25em, 4vw, 2.5em);
        padding-right: clamp(1.25em, 4vw, 2.5em);
    }
    .contact-header .row .flex-col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }
    .contact-header .row:nth-child(1) .flex-col:nth-child(2) {
        height: calc(12vh * .75 );
    }
    .contact-header .row .flex-col:nth-child(2) {
        width: 100%;
        padding-left: 0;
    }
    .contact-header .row .flex-col:nth-child(1) .profile-picture {
        display: inline-flex;
        margin-right: .125em;
        height: .95em;
        width: .95em;
        transform: translateY(.1em);
    }
    .contact-header .row .flex-col:nth-child(1) h1 span {
        display: block;
    }
    .contact-header .row:nth-child(1) .flex-col:nth-child(2) .profile-picture {
        display: none;
    }
    .contact-header .row:nth-child(1) .flex-col:nth-child(2) .arrow {
        left: unset;
        bottom: 0;
        top: -4em;
        right: .5em;
        transform: translateY(-50%) scale(-1, 1);
    }
    .contact-header .row:nth-child(2) {
        padding-top: 0;
    }
    .contact-header .row:nth-child(2) .flex-col:nth-child(1) {
        padding-top: calc(12vh * .25);
    }
    .contact-header .row:nth-child(2) .flex-col:nth-child(2) {
        order: 1;
    }
    .contact-header .form-col {
        padding: 0 0 0 1.5em;
        font-size: 1.15em;
    }
    .contact-header .row:nth-child(2) .flex-col:nth-child(2) ul:last-of-type {
        display: none;
    }
   
  }
  @media screen and (max-width:499px) and (min-width:320px){
    .footer .container.medium .row:nth-child(3) .flex-col {
        flex-direction: column;
    }
    .footer .container.medium .row:nth-child(3) .flex-col .btn {
        margin-top: 20px;
    }
    .footer .container.medium .row:nth-child(2) .btn-fixed {
        right: -65px;
 
    }
    .container.medium {
        padding-left: clamp(1.25em, 4vw, 2.5em);
        padding-right: clamp(1.25em, 4vw, 2.5em);
    }
    .contact-header .row .flex-col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }
    .contact-header .row:nth-child(1) .flex-col:nth-child(2) {
        height: calc(12vh * .75 );
    }
    .contact-header .row .flex-col:nth-child(2) {
        width: 100%;
        padding-left: 0;
    }
    .contact-header .row .flex-col:nth-child(1) .profile-picture {
        display: inline-flex;
        margin-right: .125em;
        height: .95em;
        width: .95em;
        transform: translateY(.1em);
    }
    .contact-header .row .flex-col:nth-child(1) h1 span {
        display: block;
    }
    .contact-header .row:nth-child(1) .flex-col:nth-child(2) .profile-picture {
        display: none;
    }
    .contact-header .row:nth-child(1) .flex-col:nth-child(2) .arrow {
        left: unset;
        bottom: 0;
        top: -4em;
        right: .5em;
        transform: translateY(-50%) scale(-1, 1);
    }
    .contact-header .row:nth-child(2) {
        padding-top: 0;
    }
    .contact-header .row:nth-child(2) .flex-col:nth-child(1) {
        padding-top: calc(12vh * .25);
    }
    .contact-header .row:nth-child(2) .flex-col:nth-child(2) {
        order: 1;
    }
    .contact-header .form-col {
        padding: 0 0 0 1.5em;
        font-size: 1.15em;
    }
 .contact-header .row:nth-child(2) .flex-col:nth-child(2) ul:last-of-type {
        display: none;
    }
  } 


